.Documents table {
  white-space: nowrap;
  width: 80vw;
  max-width: 50rem;
  min-width: 27rem;
  text-align: left;
  padding: 1rem;
  border-collapse: collapse;
}

.Documents td {
  padding: 1rem;
  border-collapse: collapse;
  border-top: 2px solid var(--mid);
}

.Documents th {
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.Documents td:has(.ReactMarkdown) {
  border-top: none;
}

.Documents td .ReactMarkdown,
.Documents td .ReactMarkdown p {
  width: 100%;
  min-width: 100%;
  text-align: justify;
}

.Documents td .ReactMarkdown {
  white-space: normal;
  max-width: 27rem;
}

.ReactMarkdown h1,
.ReactMarkdown h2,
.ReactMarkdown h3 {
  padding: 1rem 0;
}
.ReactMarkdown ul {
  padding-left: 2rem;
}

.Documents table button {
  width: 2.5rem;
  height: 2.5rem;
}

.Documents .Title {
  text-align: left;
  padding-left: 1rem;
}
