.GitRepoData {
  flex-wrap: wrap;
}

.GitUser img {
  max-width: 9rem;
  max-height: 9rem;
  border: 1px transparent;
  border-radius: 50%;
}

.GitUser h1 {
  font-size: 3rem;
}

.GitRepo {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.GitRepo h1 {
  font-size: 2.5rem;
  padding: 0;
  text-align: left;
}

.GitRepo ul {
  padding-left: 1.25rem;
}

.GitRepo,
.GitMarkdownContent {
  color: var(--light);
  background-color: var(--dark);
  font-size: 1.25rem;
  text-align: left;
  max-width: 50rem;
  line-height: 1.5;
}

.GitMarkdownContent {
  min-width: 35rem;
  max-width: 50rem;
  padding: 1rem;
  border: 2px solid var(--mid);
  border-radius: 1rem;
}

.GitMarkdownContent * {
  white-space: normal;
  word-wrap: normal;
}

/*Lists*/
.ReactMarkdown ul {
  padding-left: 2rem;
}

.GitMarkdownContent .GitMarkdownContent .ReactMarkdown ul:has(p) {
  list-style: none;
}

.GitMarkdownContent .ReactMarkdown p {
  display: list-item;
  list-style: disc;
}

/*Links*/
.ReactMarkdown a,
.GitRepo a {
  opacity: 1;
  color: var(--mid);
  transition: var(--transitionSpeed);
}

.ReactMarkdown a:hover,
.GitRepo a:hover {
  opacity: 0.75;
}

.ReactMarkdown a:active,
.GitRepo a:active {
  opacity: 0.5;
}
